{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class=" rounded-lg p-7 container max-w-sm mx-auto text-white py-8 mb-15 mx-auto m-15" style="background-color:#990000">

    <h2 class="sm:text-3xl text-2xl font-medium ">Change Password</h2>
	    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>

       <button type="submit" class="w-40 text-white bg-green-600 hover:bg-green-800 px-1 py-2 rounded-md">Reset
        </button>
            <a href="{% url 'landing-page' %}" class="btn btn-secondary">
        <button type="button" class="mt-2 w-40 text-white bg-blue-600 hover:bg-blue-800 px-1 py-2 rounded-md">Cancel
    </button>
            </a>
     </form>
    </div>
{% endblock %}