{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

<div class=" rounded-lg p-7 container max-w-sm mx-auto text-white py-8 mb-15 mx-auto m-15" style="background-color:#990000">

    <h2 class="sm:text-3xl text-2xl font-medium ">Password was Changed Successfully</h2>
	    <br>
    <p>Your password is now changed.</p>
        <br>
    <form method="post" class="font-semibold">
        {% csrf_token %}
        {{form|crispy}}

    </form>
         <a href="{% url 'account_login' %}"><button type="submit" class="text-center w-47.25 text-white bg-green-600 hover:bg-green-800 px-1 py-2 rounded-md ml-17">Log In
        </button></a>
    </div>

{% endblock %}