{% extends 'partials/base.html' %}
    {% block content %}

<section class="text-white body-font">
  <div class="container py-24 mx-auto"  >
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">Agents List</h1>
    </div>
    <div class="flex flex-wrap -m-7">
        {% for agent in object_list %}

      <div class="p-4 md:w-1/4" >
              <a href="{% url 'agents:agent-detail' agent.pk %}">
        <div class="flex rounded-lg h-full p-4 flex-col" style="background-color:#990000">
          <div class= "flex justify-center">
            <h2 class="text-white title-font font-medium" style="font-weight:bold">{{agent.user.username}}
            </h2>
          </div>
          <div class="flex-grow">
          </div>
        </div>
      </div>
            </a>

        {% endfor %}
    </div>
  </div>
</section>
{% endblock %}