<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="flex flex-col min-h-screen justify-between" style="background-color:#ad0c09">
    {% include 'partials/header.html' %}
      <main class="mb-auto ">
      {% block content %}
      {% endblock %}
      </main>
      {% include 'partials/footer.html' %}
    </div>
  </body>
</html>

