
 <div class="header">
<header class="text-white body-font" style="background-color:#990000">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
     <a href="{% url 'landing-page' %}"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg></a>
      <span class="ml-3 text-xl">CRM</span>
    </a>

    {% if request.user.is_authenticated %}
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a href="{% url 'clients:client-list' %}"> <button class=" text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Clients List</button></a>
          <a href="{% url 'clients:client-add' %}"> <button class=" text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Add Client</button></a>
          <a href="{% url 'categories:category-list' %}"> <button class=" text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Categories</button></a>


    {% if request.user.is_organizor %}
        <a href="{% url 'agents:agent-list' %}"> <button class="  text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Agents List</button></a>
        <a href="{% url 'agents:agent-form' %}"> <button class="  text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Add Agent</button></a>
    {% endif %}
    </nav>


    <a href="{% url 'account_logout' %}"><button   class=" mr-1 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" style="background-color:#ee0000">Log Out
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>

    <a href="#"><button  class=" mr-1 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" style="background-color:#ee0000">{{ request.user.username }}
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>

    {% else %}
      <nav class="md:ml-auto md:mr- flex flex-wrap items-center text-base justify-center"></nav>

    <a href="{% url 'account_signup' %}"><button   class=" mr-1 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" style="background-color:#ee0000">Sign Up
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>

      <a href="{% url 'account_login' %}"><button   class="  inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" style="background-color:#ee0000">Log In
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>


    {% endif %}

  </div>
</header>
 </div>
