<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

 <div class="header">
<header class="text-white body-font" style="background-color:#990000">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
     <a href="{% url 'landing-page' %}">
  <div style="background-color: #ff0000; border-radius: 50%; padding: 8px; display: inline-flex; align-items: center; justify-content: center;">
    <span class="material-symbols-outlined" style="font-size: 24px; color: white;">cyclone</span>
  </div>
</a> <span class="ml-3 text-xl">CRMatic</span>
    </a>

    {% if request.user.is_authenticated %}
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a href="{% url 'clients:client-list' %}"> <button class=" text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Clients List</button></a>
          <a href="{% url 'clients:client-add' %}"> <button class=" text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Add Client</button></a>
          <a href="{% url 'categories:category-list' %}"> <button class=" text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Categories</button></a>

    {% if request.user.is_organizor %}
        <a href="{% url 'agents:agent-list' %}"> <button class="  text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Agents List</button></a>
        <a href="{% url 'agents:agent-form' %}"> <button class="  text-white bg-red-700 border-0 py-2 px-5  hover:bg-red-600 ">Add Agent</button></a>
    {% endif %}
    </nav>

    <a href="{% url 'account_logout' %}"><button   class=" mr-1 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" style="background-color:#ee0000">Log Out
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>

    <a href="{% url 'accounts:profile-page' %}"><button  class=" mr-1 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" style="background-color:#ee0000">{{ request.user.username }}
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>

    {% else %}
      <nav class="md:ml-auto md:mr- flex flex-wrap items-center text-base justify-center"></nav>

    <a href="{% url 'account_signup' %}"><button   class=" mr-1 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-green-400 rounded text-base mt-4 md:mt-0 bg-green-600">Sign Up
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>

      <a href="{% url 'account_login' %}"><button   class="  inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-blue-400 rounded text-base mt-4 md:mt-0 bg-blue-600">Log In
        <path d="M5 12h14M12 5l7 7-7 7"></path>
    </button></a>


    {% endif %}

  </div>
</header>
 </div>
