{% extends 'partials/base.html' %}
{% block content %}
<title>{{ category.name }}</title>
<section class="text-white body-font">
  <div class="container py-15 mx-auto">

    <!-- Centered heading -->
    <div class="justify-center">
      <h1 class="sm:text-4xl text-2xl font-medium title-font text-white text-center flex-1">
        {{ category.name|title }}
      </h1>
    </div>

    <!-- Clients count and buttons -->
    <div class="flex items-center justify-between mt-10">

      <!-- Clients count -->
      <h2 class="text-white text-lg title-font font-medium" style="font-weight:bold">
        Clients: {{ clients|length }}
      </h2>


      {% if user.is_organizor %}
      <div class="flex space-x-4">
        <!-- Update button -->
        <a href="{% url 'categories:category-update' category.pk %}">
          <button class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded">
            Update
          </button>
        </a>

        <!-- Delete button -->
        <a href="{% url 'categories:category-delete' category.pk %}">
          <button class="inline-flex text-white bg-orange-600 border-0 py-2 px-6 focus:outline-none hover:bg-orange-700 rounded">
            Delete
          </button>
        </a>
      </div>
      {% endif %}
    </div>

    <br>
    <br>

    <!-- Client cards -->
    <div class="flex flex-wrap -m-8">
      {% for client in clients %}
        <div class="p-4 md:w-1/4">
          <a href="{% url 'clients:client-detail' client.pk %}">
            <div class="flex rounded-lg w-full p-4 flex-col" style="background-color:#990000">
              <div class="flex justify-center">
                <h2 class="text-white text-lg title-font" style="font-weight:bold">
                  {{ client.first_name|title }} {{ client.last_name|title }}
                </h2>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}