{% extends 'partials/base.html' %}
{% load tailwind_filters %}
    {% block content %}
<title>Add Client</title>
<div class="max-w-sm mx-auto text-white py-8">
    <h2 class="sm:text-3xl text-2xl font-medium">Create Category</h2>
	<br>
	<form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="w-47.25 text-white px-1 py-2 rounded-md bg-green-600 hover:bg-green-800">Submit
        </button>
        <a href="{% url 'categories:category-list' %}">
        <button type="button" class="mt-2 w-47.5 text-white px-1 py-2 rounded-md bg-blue-600 hover:bg-blue-800">Cancel
    </button>
            </a>

    </form>
</div>
    {% endblock %}