{% extends 'partials/base.html' %}
    {% block content %}

<title>{{client.first_name|title}} {{client.last_name|title}}</title>

<section class=" mr-40 text-white  body-font">
  <div class=" container px-5 py-24 mx-auto">
    <div class="flex items-center lg:w-2/3 mx-auto  mb-10  sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-red-400 bg-gray-800 flex-shrink-0">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-3" style="font-weight:bold">{{client.first_name|title}} {{client.last_name|title}}</h2>

          <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Email</span>
          <span class="ml-auto text-white">{{client.email}}</span>
        </div>

                        <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Age</span>
          <span class="ml-auto text-white">{{client.age}}</span>
        </div>

                    <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Phone Number</span>
          <span class="ml-auto text-white">{{client.phone_number}}</span>
        </div>


                              <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Date Added</span>
          <span class="ml-auto text-white">{{client.date_added}}</span>
        </div>

                    <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Agent</span>
          <span class="ml-auto text-white">{{client.agent}}</span>
        </div>

                    <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Category</span>
          <span class="ml-auto text-white">{{client.category|title}}</span>
        </div>

                              <div class="flex border-t border-gray-800 py-2">
          <span class="text-black">Description</span>
          <span class="ml-5 mt- text-white">{{client.description}}</span>
        </div>

        {% if user.is_organizor %}
          <a href="{% url 'clients:client-update' client.pk%}"> <button class="inline-flex mt-10 ml-auto text-white bg-yellow-600 border-0 py-2 px-7 focus:outline-none hover:bg-yellow-700 rounded">Update </button></a>
          <a href="{% url 'clients:client-delete' client.pk%}"> <button class="inline-flex mt-10 ml-auto text-white bg-orange-600 border-0 py-2 px-7.25 focus:outline-none hover:bg-orange-700 rounded">Delete</button></a>
          <a href="{% url 'agents:agent-assign' client.pk %}"> <button class="inline-flex mt-10 ml-auto text-white bg-purple-600 border-0 py-2 px-7 focus:outline-none hover:bg-purple-800 rounded">Assign Agent</button></a>
          <a href="{% url 'categories:client-category-update' client.pk %}"> <button class="inline-flex mt-10 ml-auto text-white bg-gray-600 border-0 py-2 px-7 focus:outline-none hover:bg-gray-700 rounded">Update Category</button></a>
        {% endif %}
      </div>

    </div>
</section>
{% endblock %}