{% extends 'partials/base.html' %}
    {% block content %}
<title>Clients</title>
<section class="text-white body-font">
  <div class="container py-15 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">Assigned Clients</h1>
    </div>
          <div class="flex flex-wrap -m-7">

{% for client in object_list %}
        {% if client.agent != None %}

      <div class="p-4 md:w-1/4" >
                  <a href="{% url 'clients:client-detail' client.pk %}">
        <div class="flex rounded-lg h-full p-4 flex-col" style="background-color:#990000">
          <div class= "flex justify-center">
            <h2 class="text-white text-lg " style="font-weight:bold">{{client.first_name|title}} {{client.last_name|title}}
            </h2>
          </div>
        </div>
      </div>
</a>

          {% endif %}
          {% endfor %}

  <div class="container py-24 mx-auto"  >
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">Unassigned Clients</h1>
    </div>
    <div class="flex flex-wrap -m-7">

        {% for client in object_list %}
        {% if client.agent == None %}


      <div class="p-4 md:w-1/4" >
                  <a href="{% url 'clients:client-detail' client.pk %}">
        <div class="flex rounded-lg h-full p-4 flex-col" style="background-color:#990000">
          <div class= "flex justify-center">
            <h2 class="text-white text-lg title-font" style="font-weight:bold">{{client.first_name|title}} {{client.last_name|title}}
            </h2>
          </div>
        </div>
    </div>

          {% endif %}
          {% endfor %}

  </div>
</section>
{% endblock %}